@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 20px;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.wrapper {
    background: #ffffff;
    background: linear-gradient(316deg,rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(176, 0, 0, 1) 100%);
    width: 100%;
}

.container {
    width: 1400px; 
    margin: 0 auto;
}

header {
    padding: 50px 0;
}

header .logo{
    text-transform: uppercase;
    font-size: 29px;
    font-weight:800;
}

header nav {
    float: right;
    width: 50%;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    position: relative;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    color: #000;
}

header nav ul li.active::after {
    content: '';
    display: block;
    width: 40px;
    height: 5px;
    background: #FF0000;
    border-radius: 10px;
    position: relative;
    top: 10px;
    left: -15px;
}

header nav ul li:not(.active):not(.btn) a:hover{
    border-bottom: 5px solid #FF0000;
}

header nav ul li.btn a {
    color: #FFFFFF;
    background: #FF0000;
    padding: 9px 17px;
    border-radius: 5px;
    transition: all 500ms ease;
}

header nav ul li.btn a:hover {
    background: #B00000;
}

.hero{
    padding-bottom: 100px;
    position: relative;
    z-index: 1;
}

.hero--info {
    width: 530px;
    padding-top: 70px;
}

.hero--info h2 {
    font-size: 20px;
    font-weight: 600;
}

.hero--info h1 {
    font-size: 50px;
    font-weight: 600;
}

.hero--info p {
    font-weight: 500;
    line-height: 170%;
    margin: 30px 0;
}

.hero--info .btn {
    color: #FFFFFF;
    background: #FF0000;
    border-radius: 50px;
    padding: 15px 30px;
    border: 0;
    transition: all 500ms ease;
    font-size: 18px;
}

.hero--info .btn:hover {
    cursor: pointer;
    transform: scale(1.1); 
}

.hero img {
    width: 900px;
    position: absolute;
    top: -20px;
    right: 0;

}

.trendig{
    padding-top: 50px;
}

.trending h3 {
    font-weight: 600;
    font-size: 40px;
}

.trending .btn a {
    color: #FFFFFF;
    background: #FF0000;
    border-radius: 5px;
    padding: 12px 23px;
    float: right;
    display: block;
    transition: all 50ms ease;
    border: 0;
}

.trending .btn:hover {
    transform: scale(1.1);
}

.trending .products {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 50px 0;
}

.big-text {
    padding: 50px 0;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    width: 800px;
}
.banner {
    padding: 80px 0;
}

.banner h3 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 30px;
}

.banner p {
    line-height: 170%;
    margin-bottom: 30px;
    width: 550px;
}

.banner img {
    margin-bottom: 30px;
    width: 100%;
}

.features {
    padding: 80px 0;
}

.features h3 {
    margin-bottom: 20px;
    text-align: center;
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
    font-size: 40px;
}

.features .info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.features .info .block {
    text-align: center;
    width: 20%;
    margin: 30px 2%;
}

.projects {
    padding: 100px 0;
}

.projects h3{
    font-size: 40px;
    text-align: center;
}

.projects p {
    margin: 40px 0;
    text-align: center;
}

projects .images {
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
}

.projects .btn a {                         
    color: #FFFFFF;
    background: #FF0000;                
    border: 0;
    border-radius: 5px;
    padding: 12px 23px;
    float: right;
    display: block;
    transition: all 50ms ease;
}

.projects .btn {
    transform: scale(1.1);
}

.email {
    padding-bottom: 120px;
}

.email h3 {
    margin-top: 60px;
    font-size: 40px;
}

.email .block {
    background: #DD8888;
    margin-top: 30px;
    border-radius: 10px;
    padding: 40px 3%;
    width: 94%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.email .block h4 {
    font-size: 40px;
    font-weight: 500;
}

.email .block p {
    width: 500px;
}

.email .block input {
    background: #FFFFFF;
    outline: none;
    border: 0;
    border-radius: 5px;
    width: 380px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    padding: 20px 30px;
    position: relative;
    right: -130px;
    z-index: 1;
    padding-right: 150px;

}

.email .block button {
    color: #FFFFFF;
    background: #FF0000;
    padding: 13px 17px;
    border-radius: 5px;
    transition: all 500ms ease;
    border: 0;
    cursor: pointer;
    position: relative;
    z-index: 2;
}

.email .block button:hover {
    background: #B00000;
}


.hero-about {
    position: relative;
}

.hero-about .info {
    width:500px;
    padding: 50px 0;
}

.hero-about .info h1 {
    margin-bottom: 20px;
    font-size: 40px;
}

.hero-about .info p{
    max-width: 800px;
}

.hero-about img {
    position: absolute;
    right: -50px;
    top: 0;
}

.hero-about .info .btn {
    color: #FFFFFF;
    background: #FF0000;
    border-radius: 50px;
    padding: 15px 30px; 
    border: 0;
    transition: all 500ms ease;
    font-size: 18px;
    margin-top: 20px;
}

.hero-about .btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}



.work {
    padding: 80px 0;
}

.work h2 {
    font-size: 30px;
    margin-bottom: 40px;
}

.work .blocks {
    display: flex;
    justify-content:space-between;
}

.work .blocks .block {
    width: 25%;
    border-radius: 10px;
    padding: 50px 35px;
    background: #DD8888;
}
.work .blocks .block {
    font-size: 30px;
    margin: 20px 0;
}

.work .blocks .block .badge {
    border-radius: 7px;
    padding: 10px 20px;
    background: #EDBFBF;
}

.wrapperr {
    background: #ffffff;
    background: linear-gradient(316deg,rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(176, 0, 0, 1) 100%);
    width: 100%;
}

.hero-contacts h1{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 40px;
}

.hero-contacts p {
    text-align: center;
    margin-bottom: 30px;
}

.hero-contacts img {
    display: block;
    margin: 0 auto;
}

.feedback {
    padding: 70px;
    background: #A85151;
    color: #EDBFBF;
}

.feedback h2 {
    text-align: center;
    font-weight: 500;
    font-size: 40px;
}

.feedback {
    text-align: center;
    margin-top: 10px;
}

.feeadback form {
    margin: 80px auto;
    width: 600px;
}

.feedback form .inline {
    display: flex;
    justify-content: space-between;
}

.feedback form .inline>div {
    width: 50%;
}

.feedback form label {
    color: #EDBFBF;
    font-size: 16px;
}

.feedback form input {
    background: #DD8888;
    border-radius: 10px;
    border: 0.6px solid #EDBFBF;
    display: block;
    width: 90%;
    padding: 15px 10px;
    outline: none;
    margin-top: 7px;
    margin-bottom: 20px;
}
.feedback form textarea {
    background: #DD8888;
    border-radius: 10px;
    border: 0.6px solid #EDBFBF;
    display: block;
    width: 90%;
    padding: 15px 10px;
    outline: none;
    margin-top: 7px;
    margin-bottom: 20px;
}

.feedback form .one-line {
    width: 90%;
}

.feedback form textarea {
    resize: none;
    height: 200px;
    background: #DD8888;
}

.feedback form button {
    background: #DD8888;
    border-radius: 5px;
    border: 0;
    float: right;
    cursor: pointer;
    color: #FFFFFF;
    padding: 15px 35px;
    transition: all 500ms ease;
}

.feedback form button:hover {
    background: #B00000; 
}





footer {
    background: #991111;
    padding: 50px 0;
    color: #FFFFFF;
}

footer .blocks {
    display: flex;
    justify-content: space-between;
}

footer .blocks .logo {
    text-transform: uppercase;
    font-size: 29px;
    font-weight: 800;
}

footer .blocks p {
    width: 300px;
    margin: 15px 0;
}

footer .blocks h4 {
    font-weight: 500;
    font-size: 17px;
}

footer .blocks ul {
    list-style: none;
}

footer .blocks ul li {
    margin-top: 7px;
}
footer hr {
    margin: 30px 0;
}

footer > p {
    text-align: center;
}